/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
Created on : Dec 4, 2017, 4:00:00 PM
Author     : Andrew K
*/
.bg-transparent{
    background-color: transparent !important;
}

.no-wrap{
	white-space: nowrap;
}

/*.has-sub>a>span{
    font-weight: bold;
    text-transform: uppercase;
    font-size: 11px;
    position: absolute;
}*/

.sidebar .nav>li.nav-header{
	font-size: 14px;
}

.single-menu>a>span{
    font-weight: bold;
    text-transform: uppercase;
    font-size: 11px;
}

.pool-logo{
	width: 30px;
}

.table-valign-middle td{
	vertical-align: middle;
}

.table-pool-result td{
	text-align: center;
	font-size: 18px;
	padding: 5px 0px !important
}

.table-pool-result .pool-logo{
	width: 40px !important;
	margin: 0 auto;
	background-color: white;
}

.table-pool-result .result-title{
	font-weight: 600;
}

.table-pool-result.mg .result-title{
	background-color: #ffc20f;
}

.table-pool-result.kd .result-title{
	background-color: #1c377c;
	color: white;
}

.table-pool-result.sg .result-title{
	background-color: #3577c0;
	color: white;
}

.table-pool-result.tt .result-title{
	background-color: #f12a1c;
	color: white;
}

.table-pool-result.sb .result-title{
	background-color: #fb0205;
	color: white;
}

.table-pool-result.stc .result-title{
	background-color: #007c39;
	color: white;
}

.table-pool-result.sw .result-title{
	background-color: #03631c;
	color: white;
}

.table-pool-result .prize-title{
	background-color: #464646;
    color: white;
    font-weight: 600;
}

.captcha img{
	width: 100%;
}

.btn-refresh{
	width: 100%;
	height: 100%;
}

.form-control, label, .nav-item{
	font-size: 14px !important;
}

.checkbox.checkbox-css input:checked+label:after, .checkbox.checkbox-css label:before{
	top: 3px !important;
	left: 3px !important;
}

.table-addbetlimit input.form-control{
	min-width: 80px;
}

.table-addbetlimit .checkbox.checkbox-css label:before, .table-addbetlimit .checkbox.checkbox-css input:checked+label:after{
	top: 3px !important;
	left: 12px !important;
}

/* 4.37 Component - Checkbox Switcher (Added in V4.1) */
.switcher {
	display: inline-block;
}
.switcher label {
	display: block;
	margin: 0;
	width: 46px;
	height: 28px;
	position: relative;
}
.switcher input {
	display: none;
}
.switcher label:before {
	content: '';
	display: block;
	width: 46px;
	height: 28px;
	background: #dee2e6;
	border: 1px solid #dee2e6;
	-webkit-border-radius: 46px;
	   -moz-border-radius: 46px;
	        border-radius: 46px;
    -webkit-transition: all .2s linear;
       -moz-transition: all .2s linear;
        -ms-transition: all .2s linear;
         -o-transition: all .2s linear;
            transition: all .2s linear;
}
.switcher label:after {
	content: '';
	height: 24px;
	width: 24px;
	position: absolute;
	left: 2px;
	top: 2px;
	-webkit-border-radius: 24px;
	   -moz-border-radius: 24px;
	        border-radius: 24px;
	background: #fff;
	-webkit-box-shadow: 0 2px 2px rgba(0,0,0,0.25);
	        box-shadow: 0 2px 2px rgba(0,0,0,0.25);
    -webkit-transition: all .1s linear;
       -moz-transition: all .1s linear;
        -ms-transition: all .1s linear;
         -o-transition: all .1s linear;
            transition: all .1s linear;
}
.switcher input:checked + label:before {
	content: '';
	background: #007AFF;
	border: 2px solid #007AFF;
}
.switcher.switcher-success input:checked + label:before {
	background: #4CD964;
	border-color: #4CD964;
}
.switcher.switcher-green input:checked + label:before {
	background: #58eaa1;
	border-color: #58eaa1;
}
.switcher.switcher-lime input:checked + label:before {
	background: #bbe244;
	border-color: #bbe244;
}
.switcher.switcher-indigo input:checked + label:before {
	background: #5856D6;
	border-color: #5856D6;
}
.switcher.switcher-purple input:checked + label:before {
	background: #b503ff;
	border-color: #b503ff;
}
.switcher.switcher-inverse input:checked + label:before {
	background: #222;
	border-color: #222;
}
.switcher.switcher-warning input:checked + label:before {
	background: #FF9500;
	border-color: #FF9500;
}
.switcher.switcher-danger input:checked + label:before {
	background: #FF3B30;
	border-color: #FF3B30;
}
.switcher.switcher-info input:checked + label:before {
	background: #5AC8FA;
	border-color: #5AC8FA;
}
.switcher.switcher-pink input:checked + label:before {
	background: #FF2D55;
	border-color: #FF2D55;
}
.switcher.switcher-yellow input:checked + label:before {
	background: #FFCC00;
	border-color: #FFCC00;
}
.switcher input:checked + label:after {
	left: 20px;
}

img.submitLoader {
    width: 25px;
    height: 25px;
    margin-top: -8px;
    margin-left: 5px;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

#betsModal .modal-dialog.modal-lg {
    max-width: 1000px;
}