table
{
    border-collapse: collapse;
	margin-bottom:10px;
}

table, th, td 
{
    border: 1px solid black;
	padding: 1px;
}

.tableHeaderHighlight
{
    font-weight: bold;
	text-align:center;
    color:blue;
}

.tableHeader
{
	font-weight: bold;
	text-align:center;
}

.tableTitle
{
	font-weight: bold;
	text-align:center;
	font-size:20;
}

.tableContent
{
	text-align:right;
}

.table_input 
{
    width: 100%;
	text-align:right;
}

.default 
{
    color:red;
}